<div class="container">
    <div class="panel-heading"
         style="font-size:large" ng-controller="tripAdminEditController as vm">
        <h2>Dag</h2>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" name="tripAdminForm">
            <div class="form-group">
                <div class="dropdown">
                    <label for="userId" class="col-sm-2 control-label">Välj Person</label>
                    <div class="col-sm-10">
                        <select ng-repeat="">
                            <option value="#">Välj Person</option>
                            <option value="#">Kalle</option>
                            <option value="#">Pelle</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <label for="regnr" class="col-sm-2 control-label">Välj bil</label>
                    <div class="col-sm-10">
                        <select>
                            <option value="#">Välj bil..</option>
                            <option value="#">ABD233</option>
                            <option value="#">WWW456</option>
                            <option value="#">ABC123</option>
                            <option value="#">IOP789</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label"
                       for="inputStartDate">Start Datum</label>

                <div class="col-md-4">
                    <div class="input-group">
                        <input class="form-control"
                               id="inputStartDate"
                               type="text"
                               datepicker-popup="MMM dd, yyyy "
                               is-open="vm.opened"
                               ng-model="vm.product.releaseDate" />
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    ng-click="vm.open($event)">
                                <i class="glyphicon glyphicon-calendar" />
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="datum" class="col-sm-2 control-label">Datum slut</label>
                <div class="col-sm-4">
                    <input type="text" id="datum" name="datumslut" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="mil" class="col-sm-2 control-label">Milställning start</label>
                <div class="col-sm-10">
                    <input type="text" id="ingmil" name="ingmil"class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="mil" class="col-sm-2 control-label">Milställning utgående</label>
                <div class="col-sm-10">
                    <input type="text" id="utgmil" name="utgmil"class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="instorsak" class="col-sm-2 control-label">Ärende</label>
                <div class="col-sm-10">
                    <select>
                        <option value="#">Välj Ärende</option>
                        <option value="#">Jobb</option>
                        <option value="#"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="instresvag" class="col-sm-2 control-label">ResVäg</label>
                <div class="col-sm-10">
                    <select>
                        <option value="#">Välj din resväg</option>
                        <option value="#">KHamn - Lund - KHamn</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="instprojekt" class="col-sm-2 control-label">Projekt</label>
                <div class="col-sm-10">
                    <select>
                        <option value="#">Välj projekt</option>
                        <option value="#">ABB</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="privat" class="col-sm-2 control-label">Privat</label>
                <div class="col-sm-10">
                    <input type="checkbox" id="privat" name="privat" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Spara</button>
                    <button type="reset" class="btn btn-default">Ångra</button>
                </div>
            </div>
        </form>
    </div>
</div>